
@{
    Layout = null;
}
@model LZ.Model.Response.GetUserListResponse
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserIndex</title>
    <style>
        table {
            border: 1px solid black;
        }

        th {
            border: 1px solid black;
        }

        td {
            border: 1px solid black;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">
        function deleteUser(id) {
            $.ajax({
                type: "POST",
                url: "/Basic/UserDelete",
                dataType: "json",
                contentType:"application/json",
                data: JSON.stringify({ Id: id }) ,
                success: function (response) {
                    if (response) {
                        alert("删除成功用户编号："+id);
                        window.location.reload();
                    } else {
                        alert("删除失败用户编号："+id);
                       console.log("删除失败"+response);
                    }
                },
                failure: function (response) {
                    alert(response);
                    
                }
            });

        }
    </script>
</head>
<body>
    <div>
        <table>

            <tr>
                <th>
                    编号
                </th>
                <th>
                    名字
                </th>
                <th>
                    账号
                </th>
                <th>
                    创建时间
                </th>
                <th>
                    更新时间
                </th>
               
                <th>操作</th>
            </tr>

            @foreach (var item in Model.userListResponse)
            {


            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Account</td>
                <td>@item.CreateTime</td>
                <td>@item.UpdateTime</td>
               
                <td>

                    @if (@item.Id > 1)
                        {
                    <a href="/basic/userdetails?Id=@item.Id">详情</a>
                    <a href="/basic/useredit?Id=@item.Id">修改</a>
                    <a href="javascript: void(0)" onclick="deleteUser(@item.Id)">删除</a>
                        }
                </td>
            </tr>
            }
        </table>
        <div class="panel panel-default">
            <div class="panel-heading">

            </div>
            <div class="panel-body">
                <a href="/basic/UserCreate" >新增</a>
            </div>
        </div>

    </div>
</body>
</html>
