
@{
    Layout = null;
}
@model LZ.Model.Response.GetUserListResponse
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserIndex</title>
    <style>
        table {
            border: 1px solid black;
        }

        th {
            border: 1px solid black;
        }

        td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <div>
        <table>



            @foreach (var item in Model.userListResponse)
            {
                <tr>
                    <th>
                        编号
                    </th>
                    <th>
                        名字
                    </th>
                    <th>
                        账号
                    </th>
                    <th>
                        创建时间
                    </th>
                    <th>操作</th>
                </tr>

                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Account</td>
                    <td>@item.CreateTime</td>
                    <td>@item.UpdateTime</td>
                    @if (item.Id > 1)
                    {
                        <td>@item.PassWord</td>
                    }
                    else
                    {
                        <td>******</td>
                    }
                    <td>
                        <a href="/basic/userdetail">详情</a>
                        @if (@item.Id > 1)
                        {
                            <a onclick="/basic/useredit?Id=@item.Id">修改</a>
                            <a onclick="delete(@item.Id)">删除</a>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
