
@{
    Layout = null;
}
@model LZ.Model.Response.GetUserListResponse
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserIndex</title>
    <style>
        table {
            border: 1px solid black;
        }

        th {
            border: 1px solid black;
        }

        td {
            border: 1px solid black;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">
        function delete (id) {
            $.ajax({
                type: "POST",
                url: "/basic/delete",
                //beforeSend: function (xhr) {
                //    xhr.setRequestHeader("XSRF-TOKEN",
                //        $('input:hidden[name="__RequestVerificationToken"]').val());
                //},
                data: { Id: id },
                success: function (response) {
                    console.log(response);
                },
                failure: function (response) {
                    alert(response);
                }
            });

        }
    </script>
</head>
<body>
    <div>
        <table>



            @foreach (var item in Model.userListResponse)
            {
                <tr>
                    <th>
                        编号
                    </th>
                    <th>
                        名字
                    </th>
                    <th>
                        账号
                    </th>
                    <th>
                        创建时间
                    </th>
                    <th>操作</th>
                </tr>

                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Account</td>
                    <td>@item.CreateTime</td>
                    <td>@item.UpdateTime</td>
                    @if (item.Id > 1)
                    {
                        <td>@item.PassWord</td>
                    }
                    else
                    {
                        <td>******</td>
                    }
                    <td>
                        <a href="/basic/userdetail">详情</a>
                        @if (@item.Id > 1)
                        {
                            <a href="/basic/useredit?Id=@item.Id">修改</a>
                            <a onclick="delete(@item.Id)">删除</a>
                        }
                    </td>
                </tr>
            }
        </table>
        <div class="panel panel-default">
            <div class="panel-heading">

            </div>
            <div class="panel-body">
                <a href="@Url.Action("Basic","CreateUser")">新增</a>
            </div>
        </div>

    </div>
</body>
</html>
